#threshold-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#slider-container {
    display: flex;
    flex-direction: column;
    color: white;
}

#set-btn {
    width: 20%;
    margin-top: 30px;
}